@charset "utf-8";
/* CSS Document */
#logo-login{
	width:50%;
	height:8%;
	
	}
#logo_home{
	width:150px;
	height:50px;
	margin-bottom:30px;
	}
	
#tex_user{
	margin-left:5%;
	}

#ads{
	font-weight:bold;
		font-size:25px;
}

#tabel_grafik{
	width:100%;
	}
